<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="static/style.css">
    </head>
        <body>
            <div>
                <div class="m_container">
                    <h1>MCQ Exam</h1>
                    <form target="_blank">
                        <h2>Question 1:</h2>
                        <p>What is the capital of France?</p>
                        <label>
                            <input type="radio" name="q1" value="a">
                            Paris
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="q1" value="b">
                            Berlin
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="q1" value="c">
                            London
                        </label>
                        <br>
            
                        <h2>Question 2:</h2>
                        <p>What is the largest planet in our solar system?</p>
                        <label>
                            <input type="radio" name="q2" value="a">
                            Jupiter
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="q2" value="b">
                            Mars
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="q2" value="c">
                            Venus
                        </label>
                        <br>
            
                        <h2>Question 3:</h2>
                        <p>What is the name of the first man to walk on the moon?</p>
                        <label>
                            <input type="radio" name="q3" value="a">
                            Neil Armstrong
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="q3" value="b">
                            Buzz Aldrin
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="q3" value="c">
                            Michael Collins
                        </label>
                        <br>
            
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>    
        </body>
</html>